.env




Api_username =776E0FpwoFWpjoxCeuN6
Api_password=Oa3845ZzETUuiInL78KcqhoMcRoJNLLWC71i2khS

Basic_auth=Basic Nzc2RTBGcHdvRldwam94Q2V1TjY6T2EzODQ1WnpFVFV1aUluTDc4S2NxaG9NY1JvSk5MTFdDNzFpMmtoUw==